html,
body {
	margin: 0;
	position: relative;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* text-align: center; */
	color: #fff;
	background-color: #333;
	overflow-x: hidden;

	// position: relative;

	.content {
		padding: 5rem 2.5rem 2rem;
		min-height: 100%;
		max-width: 1440px;
		width: 80%;
		margin: 0 auto;
		background-color: #f2f7f5;
		color: #333;
		// transform: rotateZ(0deg);
		transform-origin: top left;
		transition: transform 0.77s cubic-bezier(0.215, 0.61, 0.355, 1);
		h3 {
			margin: 0.5rem 0;
			font-size: 24px;
		}

		.author {
			margin-top: 0;
			font-style: italic;
			font-size: 12px;
		}

		.para-title {
			font-size: 16px;
		}

		.article-img {
			margin: 1rem auto;
			width: 50%;
			display: block;
		}

		&.transform-rotate {
			transform: rotateZ(-30deg);
		}
	}

	.hamburger {
		position: absolute;
		top: 0;
		left: 0;
		width: 75px;
		height: 75px;
		border-radius: 0 0 60px 0;
		background-color: rgb(226, 17, 17);
		z-index: 2;

		.icons {
			position: absolute;
			left: 15px;
			top: 15px;
			cursor: pointer;
			.line {
				display: block;
				width: 35px;
				height: 4px;
				background-color: #fff;
				border-radius: 2px;
				margin: 5px 0;
				transition: all 0.75s ease;
			}

			&.close {
				.line {
					transition: all 0.75s ease;
				}

				.line-one {
					transform: rotateZ(-45deg);
					position: relative;
					top: 9px;
				}

				.line-three {
					opacity: 0;
				}

				.line-two {
					transform: rotateZ(45deg);
				}
			}
		}
	}

	.sidebar {
		position: absolute;
		left: 0;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		top: 0;
		height: 90%;
		padding: 1.5rem 2rem;
		transform: translateX(-200px);
		transform-origin: left top;
		transition: transform 0.77s ease-out;

		&.show {
			transform: translateX(0);
		}

		.links {
			list-style-type: none;

			.link {
				margin: 0.75rem 0.5rem;
				font-weight: 600;
				cursor: pointer;
			}
		}
	}
}
