body {
	background-color: hsl(220deg 98% 80%);
}

h2 {
	text-align: center;
}

.section {
	min-height: 90vh;
	background-color: #fff;
	margin: 10px auto;
	border-radius: 6px;
	padding: 10px 16px;
	width: min(90%, 720px);
	font-size: 34px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;

	transition: transform 0.77s cubic-bezier(0.445, 0.05, 0.55, 0.95),
		opacity 0.77s cubic-bezier(0.075, 0.82, 0.165, 1);
	filter: drop-shadow(1px 2px 4px hsl(220deg 60% 50%));
}

.keep-left {
	transform: translateX(-70%);
}

.keep-right {
	transform: translateX(70%);
}

.inverse {
	// color: wheat;
	// background-color: #333;
	transform: translateX(0);
	opacity: 1;
}
